/*- Html Tags Reset -*/
html { overflow-y:scroll; background-color:#F0F0F0; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure { padding:0; margin:0; }
body { font:12px/1.5 "Microsoft YaHei",Helvetica,Tahoma,simsun,sans-serif; color:#666; background-color: #F1F3F6; }
abbr,article,aside,bb,datagrid,datalist,details,dialog,event-source,figure,figcaption,footer,header,mark,menu,meter,nav,output,progress,section,time { display:block; height:auto; }
table { border-collapse:collapse; border-spacing:0; }
ol, ul { list-style:none outside; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
fieldset, img { border:0 none; vertical-align:middle; }
em { font-style:normal; }
textarea { overflow-y:auto; }
input,select,textarea,button { font:14px "Microsoft YaHei",Tahoma,Helvetica,simsun,sans-serif;outline: none;}
button { overflow:visible; vertical-align:middle; }
button,label { cursor:pointer; }
address, cite, dfn, em, var, i { font-style: normal; } /* 将斜体扶正 */
